# Exploratory Data Analysis

## Hardcoded Variables

In [2]:
weathercan_path = "C:/Users/14037/OneDrive - University of Calgary/Documents/ENCI_570/TM_PHES_code/TM_PHES/weathercan_data.csv"

## Import Libraries

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

## Utility Functions

## Data Engineering

In [ ]:
# todo:
# clean morrisey data
# merge to weather df
# calculate monthly mean precip for each weather station if not already given

# get hydrometric data
# show summary of hydrometric

In [5]:
weathercan_df = pd.read_csv(weathercan_path)

C:\Users\14037\AppData\Local\Temp\ipykernel_28828\3573525454.py:1: DtypeWarning: Columns (7,9,14,16,18,20,22,24,26,28,30,32,34,36) have mixed types. Specify dtype option on import or set low_memory=False.
  weathercan_df = pd.read_csv(weathercan_path)

In [7]:
columns_to_drop = ['station_operator', 'climate_id', 'WMO_id', 'TC_id']

# Drop specified columns and columns containing the word 'flag'
weathercan_df.drop(columns=columns_to_drop + [col for col in weathercan_df.columns if 'flag' in col.lower()], inplace=True)
weathercan_df

,station_name,station_id,prov,lat,lon,elev,date,year,month,day,...,dir_max_gust,heat_deg_days,max_temp,mean_temp,min_temp,snow_grnd,spd_max_gust,total_precip,total_rain,total_snow
0,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-01,1998,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-02,1998,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-03,1998,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-04,1998,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-05,1998,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252959,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-05,2024,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252960,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-06,2024,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252961,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-07,2024,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252962,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-08,2024,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252963,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-09,2024,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
weathercan_df.dtypes

station_name      object
station_id         int64
prov              object
lat              float64
lon              float64
elev             float64
date              object
year               int64
month              int64
day                int64
qual              object
cool_deg_days    float64
dir_max_gust     float64
heat_deg_days    float64
max_temp         float64
mean_temp        float64
min_temp         float64
snow_grnd        float64
spd_max_gust     float64
total_precip     float64
total_rain       float64
total_snow       float64
dtype: object

In [25]:
weathercan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252964 entries, 0 to 252963
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   station_name   252964 non-null  object
 1   station_id     252964 non-null  int64
 2   prov           252964 non-null  object
 3   lat            252964 non-null  float64
 4   lon            252964 non-null  float64
 5   elev           252964 non-null  float64
 6   date           252964 non-null  object
 7   year           252964 non-null  int64
 8   month          252964 non-null  int64
 9   day            252964 non-null  int64
 10  qual           4376 non-null    object
 11  cool_deg_days  87904 non-null   float64
 12  dir_max_gust   9675 non-null    float64
 13  heat_deg_days  87904 non-null   float64
 14  max_temp       88589 non-null   float64
 15  mean_temp      87904 non-null   float64
 16  min_temp       88441 non-null   float64
 17  snow_grnd      30206 non-null   float64
 18  spd_max_gust   9689 non-null    float64
 19  total_precip   95347 non-null   float64
 20  total_rain     84534 non-null   float64
 21  total_snow     84217 non-null   float64
dtypes: float64(14), int64(4), object(4)
memory usage: 42.5+ MB

In [8]:
weathercan_df.describe()

,station_id,lat,lon,elev,year,month,day,cool_deg_days,dir_max_gust,heat_deg_days,max_temp,mean_temp,min_temp,snow_grnd,spd_max_gust,total_precip,total_rain,total_snow
count,252964.000000,252964.000000,252964.000000,252964.000000,252964.000000,252964.000000,252964.000000,87904.000000,9675.000000,87904.000000,88589.000000,87904.000000,88441.000000,30206.000000,9689.000000,95347.000000,84534.000000,84217.000000
mean,3464.557309,49.655352,-114.653038,1434.898146,1993.912565,6.521932,15.723965,0.059819,22.077933,13.970152,9.907873,4.089667,-1.713378,3.508839,45.331304,1.703974,1.056014,0.682720
std,3360.973505,0.074238,0.177598,298.557997,22.685303,3.450484,8.801228,0.388037,7.764023,9.442429,10.885867,9.538417,9.011552,9.868882,11.804038,4.534458,3.612641,2.918515
min,1170.000000,49.520000,-114.920000,1127.800000,1912.000000,1.000000,1.000000,0.000000,1.000000,0.000000,-35.600000,-37.000000,-43.000000,0.000000,31.000000,0.000000,0.000000,0.000000
25%,1204.000000,49.620000,-114.880000,1143.000000,1981.000000,4.000000,8.000000,0.000000,15.000000,6.500000,2.200000,-1.700000,-6.000000,0.000000,37.000000,0.000000,0.000000,0.000000
50%,2381.000000,49.630000,-114.580000,1341.100000,1999.000000,7.000000,16.000000,0.000000,20.000000,13.100000,10.000000,4.900000,-0.300000,0.000000,43.000000,0.000000,0.000000,0.000000
75%,2396.000000,49.750000,-114.500000,1572.200000,2011.000000,10.000000,23.000000,0.000000,29.000000,19.700000,18.400000,11.500000,4.600000,0.000000,52.000000,1.000000,0.000000,0.000000
max,10890.000000,49.770000,-114.430000,2072.600000,2024.000000,12.000000,31.000000,8.400000,36.000000,55.000000,37.600000,26.400000,21.100000,133.000000,122.000000,103.000000,88.000000,102.400000

In [27]:

# Convert the 'date' column to a pandas datetime object
weathercan_df['date'] = pd.to_datetime(weathercan_df['date'])

# Group by 'station_name' and 'month', then calculate the mean precipitation
monthly_mean_precip = weathercan_df.groupby(['station_name', weathercan_df['date'].dt.month])['total_precip'].mean().reset_index()

# Rename the columns for clarity
monthly_mean_precip.columns = ['station_name', 'month', 'mean_monthly_precip']

# Merge the mean monthly precipitation back into the original DataFrame
test = pd.merge(weathercan_df, monthly_mean_precip, on=['station_name', 'month'], how='left')
test

,station_name,station_id,prov,lat,lon,elev,date,year,month,day,...,heat_deg_days,max_temp,mean_temp,min_temp,snow_grnd,spd_max_gust,total_precip,total_rain,total_snow,mean_monthly_precip
0,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-01,1998,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
1,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-02,1998,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
2,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-03,1998,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
3,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-04,1998,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
4,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-05,1998,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252959,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-05,2024,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.466829
252960,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-06,2024,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.466829
252961,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-07,2024,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.466829
252962,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-08,2024,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.466829
252963,NATAL HARMER RIDGE,1203,BC,49.77,-114.83,1889.8,2024-01-09,2024,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.466829

In [11]:

# Replace 'your_dataframe' with the actual name of your DataFrame

# Group by 'station_name'
grouped_df = weathercan_df.groupby('station_name')

# Create a dictionary to store DataFrames
station_dfs = {}

# Iterate through groups and create DataFrames
for station_name, station_group in grouped_df:
    # Name each DataFrame based on station_name
    df_name = station_name.replace(' ', '_') + '_df'
    # Add the DataFrame to the dictionary
    station_dfs[df_name] = station_group.copy()

# Get the list of all new station DataFrame names
new_station_df_names = list(station_dfs.keys())

# Print the list of new station DataFrame names
print(new_station_df_names)

['BLAIRMORE_HQTS_RS_df', 'COLEMAN_df', 'COLEMAN_RS_df', 'CORBIN_df', 'CROWSNEST_df', 'CROWSNEST_CREEK_df', 'IRONSTONE_LO_df', 'NATAL_df', 'NATAL_HARMER_RIDGE_df', 'NATAL_KAISER_RESOURCES_df', 'PELLETIER_CREEK_df', 'SPARWOOD_df', 'SPARWOOD_CS_df', 'WILLOUGHBY_RIDGE_df']

In [16]:
def describe_dataframes_to_dataframe(dataframes_dict):
    """
    Takes a dictionary of DataFrames and creates a new DataFrame with the summary statistics
    from the .describe() method for each DataFrame.

    Parameters:
    - dataframes_dict: Dictionary where keys are DataFrame names and values are DataFrames.

    Returns:
    - summary_df: DataFrame containing summary statistics for each input DataFrame.
    """
    summary_data = {}
    
    for df_name, df in dataframes_dict.items():
        summary_data[df_name] = df.describe()
    
    summary_df = pd.concat(summary_data, axis=1).T
    return summary_df

In [21]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [22]:
summary_df = describe_dataframes_to_dataframe(station_dfs)
summary_df

                                           count          mean           std  \
BLAIRMORE_HQTS_RS_df      station_id     19367.0   2367.000000  0.000000e+00
                          lat            19367.0     49.620000  0.000000e+00
                          lon            19367.0   -114.430000  4.263366e-14
                          elev           19367.0   1310.600000  0.000000e+00
                          year           19367.0   1997.011876  1.530477e+01
                          month          19367.0      6.520421  3.450029e+00
                          day            19367.0     15.724480  8.801416e+00
                          cool_deg_days   7066.0      0.041509  3.115233e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   7066.0     13.303043  9.754687e+00
                          max_temp        7096.0     11.430651  1.097534e+01
                          mean_temp       7066.0      4.738466  9.816084e+00
                          min_temp        7141.0     -1.945960  9.411205e+00
                          snow_grnd       3333.0      0.800780  5.165442e+00
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    7204.0      1.739714  4.827149e+00
                          total_rain      7203.0      1.194308  4.089023e+00
                          total_snow      7205.0      0.613158  2.906568e+00
COLEMAN_df                station_id     40643.0   2381.000000  0.000000e+00
                          lat            40643.0     49.630000  0.000000e+00
                          lon            40643.0   -114.580000  2.842206e-14
                          elev           40643.0   1341.100000  0.000000e+00
                          year           40643.0   1967.885638  3.212294e+01
                          month          40643.0      6.531924  3.452203e+00
                          day            40643.0     15.727259  8.800779e+00
                          cool_deg_days  11901.0      0.037778  3.041277e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days  11901.0     14.503025  9.703913e+00
                          max_temp       11939.0      9.476556  1.107381e+01
                          mean_temp      11901.0      3.534753  9.764953e+00
                          min_temp       11910.0     -2.402242  9.427952e+00
                          snow_grnd       3253.0      0.032278  1.070631e+00
                          spd_max_gust       0.0           NaN           NaN
                          total_precip   29964.0      1.503494  4.216983e+00
                          total_rain     29965.0      0.930415  3.356435e+00
                          total_snow     29965.0      0.572992  2.665621e+00
COLEMAN_RS_df             station_id     24115.0   2382.000000  0.000000e+00
                          lat            24115.0     49.650000  2.131672e-14
                          lon            24115.0   -114.500000  0.000000e+00
                          elev           24115.0   1341.100000  0.000000e+00
                          year           24115.0   1990.512171  1.905781e+01
                          month          24115.0      6.520962  3.449755e+00
                          day            24115.0     15.725358  8.801098e+00
                          cool_deg_days   2236.0      0.077281  4.425803e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   2236.0     11.501699  9.021408e+00
                          max_temp        2355.0     13.278726  1.046694e+01
                          mean_temp       2236.0      6.575581  9.130181e+00
                          min_temp        2259.0     -0.085436  8.718947e+00
                          snow_grnd          0.0           NaN           NaN
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    2963.0      1.551401  4.297220e+00
                          total_rain      2965.0      1.104654  3.745029e+00
                          total_snow      2932.0      0.443076  2.296387e+00
CORBIN_df                 station_id     17175.0   1170.000000  0.000000e+00
                          lat            17175.0     49.520000  1.421127e-14
                          lon            17175.0   -114.650000  2.842254e-14
                          elev           17175.0   1572.200000  4.547606e-13
                          year           17175.0   2000.012576  1.357205e+01
                          month          17175.0      6.520233  3.450162e+00
                          day            17175.0     15.723435  8.801422e+00
                          cool_deg_days   5759.0      0.016044  1.728023e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   5759.0     15.491613  9.181872e+00
                          max_temp        5767.0      7.310092  1.029755e+01
                          mean_temp       5759.0      2.524431  9.210528e+00
                          min_temp        5775.0     -2.269316  8.768972e+00
                          snow_grnd       2492.0      8.243579  2.016642e+01
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    5426.0      2.375986  6.098442e+00
                          total_rain      5460.0      1.378462  4.779399e+00
                          total_snow      5434.0      0.987431  3.677760e+00
CROWSNEST_df              station_id     11331.0  10890.000000  0.000000e+00
                          lat            11331.0     49.630000  0.000000e+00
                          lon            11331.0   -114.480000  0.000000e+00
                          elev           11331.0   1303.000000  0.000000e+00
                          year           11331.0   2008.012708  8.951917e+00
                          month          11331.0      6.518842  3.450913e+00
                          day            11331.0     15.720237  8.802106e+00
                          cool_deg_days  10773.0      0.030595  2.452550e-01
                          dir_max_gust    5391.0     26.052309  7.306200e+00
                          heat_deg_days  10773.0     14.141901  9.387973e+00
                          max_temp       10776.0     10.580930  1.072714e+01
                          mean_temp      10773.0      3.888694  9.437140e+00
                          min_temp       10790.0     -2.818035  9.088547e+00
                          snow_grnd       1065.0      0.000000  0.000000e+00
                          spd_max_gust    5401.0     48.702092  1.288782e+01
                          total_precip    4988.0      1.505313  4.700928e+00
                          total_rain      3165.0      1.098041  3.813670e+00
                          total_snow      2560.0      0.153008  1.066074e+00
CROWSNEST_CREEK_df        station_id      9505.0  10690.000000  0.000000e+00
                          lat             9505.0     49.610000  7.105801e-15
                          lon             9505.0   -114.680000  2.842320e-14
                          elev            9505.0   1387.000000  0.000000e+00
                          year            9505.0   2010.512467  7.507942e+00
                          month           9505.0      6.517938  3.451370e+00
                          day             9505.0     15.718780  8.802639e+00
                          cool_deg_days   2555.0      0.036008  2.676702e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   2555.0     15.160196  9.149623e+00
                          max_temp        2555.0      9.059178  1.103035e+01
                          mean_temp       2555.0      2.875812  9.213004e+00
                          min_temp        2555.0     -3.320391  8.369202e+00
                          snow_grnd        534.0      0.000000  0.000000e+00
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    2493.0      1.664380  4.323041e+00
                          total_rain      1339.0      0.863181  3.222723e+00
                          total_snow      1400.0      0.680357  2.297397e+00
IRONSTONE_LO_df           station_id     23019.0   2396.000000  0.000000e+00
                          lat            23019.0     49.570000  1.421116e-14
                          lon            23019.0   -114.470000  1.421116e-14
                          elev           23019.0   2072.600000  4.547572e-13
                          year           23019.0   1992.012511  1.819151e+01
                          month          23019.0      6.520918  3.449792e+00
                          day            23019.0     15.725010  8.801085e+00
                          cool_deg_days   6198.0      0.076492  4.294742e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   6198.0      8.810794  5.390271e+00
                          max_temp        6463.0     13.739904  6.553721e+00
                          mean_temp       6198.0      9.265699  5.530606e+00
                          min_temp        6425.0      4.744778  5.063077e+00
                          snow_grnd       2360.0      0.010169  4.547129e-01
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    6616.0      2.029051  5.253969e+00
                          total_rain      6617.0      1.516760  4.266867e+00
                          total_snow      6657.0      0.494262  3.171256e+00
NATAL_df                  station_id     21558.0   1202.000000  0.000000e+00
                          lat            21558.0     49.700000  0.000000e+00
                          lon            21558.0   -114.920000  1.421118e-14
                          elev           21558.0   1143.000000  0.000000e+00
                          year           21558.0   1994.012524  1.703668e+01
                          month          21558.0      6.520781  3.449866e+00
                          day            21558.0     15.724696  8.801152e+00
                          cool_deg_days   1066.0      0.043715  3.099036e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   1066.0     13.948593  9.074925e+00
                          max_temp        1076.0     10.684944  1.090247e+01
                          mean_temp       1066.0      4.095122  9.147183e+00
                          min_temp        1076.0     -2.418401  8.408187e+00
                          snow_grnd          0.0           NaN           NaN
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    1064.0      2.051316  4.386452e+00
                          total_rain      1064.0      1.171053  3.226849e+00
                          total_snow      1127.0      0.831766  3.081709e+00
NATAL_HARMER_RIDGE_df     station_id     19367.0   1203.000000  0.000000e+00
                          lat            19367.0     49.770000  1.421122e-14
                          lon            19367.0   -114.830000  2.842244e-14
                          elev           19367.0   1889.800000  2.273795e-13
                          year           19367.0   1997.011876  1.530477e+01
                          month          19367.0      6.520421  3.450029e+00
                          day            19367.0     15.724480  8.801416e+00
                          cool_deg_days   6579.0      0.030567  2.626962e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   6579.0     17.499392  9.675197e+00
                          max_temp        6727.0      4.679664  1.048057e+01
                          mean_temp       6579.0      0.531175  9.733880e+00
                          min_temp        6652.0     -3.615048  9.287648e+00
                          snow_grnd       1220.0      0.462295  5.125118e+00
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    6468.0      1.997341  4.459837e+00
                          total_rain      6483.0      0.682261  2.601502e+00
                          total_snow      6509.0      1.306944  3.780574e+00
NATAL_KAISER_RESOURCES_df station_id     20097.0   1204.000000  0.000000e+00
                          lat            20097.0     49.750000  0.000000e+00
                          lon            20097.0   -114.880000  7.105604e-14
                          elev           20097.0   1127.800000  2.273793e-13
                          year           20097.0   1996.012539  1.588183e+01
                          month          20097.0      6.520625  3.449950e+00
                          day            20097.0     15.724337  8.801229e+00
                          cool_deg_days   3754.0      0.085908  4.973215e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   3754.0     14.277597  9.787825e+00
                          max_temp        3801.0     10.313023  1.133344e+01
                          mean_temp       3754.0      3.808311  9.924849e+00
                          min_temp        3793.0     -2.697469  9.368249e+00
                          snow_grnd          0.0           NaN           NaN
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    3872.0      1.693982  4.467077e+00
                          total_rain      3873.0      1.055771  3.599223e+00
                          total_snow      3876.0      0.639293  2.642923e+00
PELLETIER_CREEK_df        station_id      9505.0  10691.000000  0.000000e+00
                          lat             9505.0     49.670000  7.105801e-15
                          lon             9505.0   -114.480000  1.421160e-14
                          elev            9505.0   1646.000000  0.000000e+00
                          year            9505.0   2010.512467  7.507942e+00
                          month           9505.0      6.517938  3.451370e+00
                          day             9505.0     15.718780  8.802639e+00
                          cool_deg_days   2293.0      0.106585  5.483398e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   2293.0     14.523986  9.251659e+00
                          max_temp        2294.0      8.407672  1.059613e+01
                          mean_temp       2293.0      3.582599  9.433520e+00
                          min_temp        2293.0     -1.259485  8.649735e+00
                          snow_grnd        645.0      0.000000  0.000000e+00
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    2243.0      1.636603  4.055098e+00
                          total_rain       754.0      0.642706  2.749542e+00
                          total_snow       792.0      0.903409  3.184674e+00
SPARWOOD_df               station_id     16080.0   1207.000000  0.000000e+00
                          lat            16080.0     49.750000  0.000000e+00
                          lon            16080.0   -114.880000  5.684519e-14
                          elev           16080.0   1137.700000  2.273807e-13
                          year           16080.0   2001.511567  1.270644e+01
                          month          16080.0      6.519838  3.450319e+00
                          day            16080.0     15.723632  8.801774e+00
                          cool_deg_days  13869.0      0.084534  4.570516e-01
                          dir_max_gust      35.0     17.542857  2.343236e+00
                          heat_deg_days  13869.0     13.554178  9.429864e+00
                          max_temp       13871.0     10.487369  1.121585e+01
                          mean_temp      13869.0      4.530355  9.561536e+00
                          min_temp       13869.0     -1.449189  8.755059e+00
                          snow_grnd      13323.0      4.750206  9.687416e+00
                          spd_max_gust      35.0     41.342857  6.694787e+00
                          total_precip   13844.0      1.664902  3.969247e+00
                          total_rain     13871.0      1.122197  3.315442e+00
                          total_snow     13865.0      0.717721  2.674747e+00
SPARWOOD_CS_df            station_id     11697.0   6842.000000  0.000000e+00
                          lat            11697.0     49.750000  0.000000e+00
                          lon            11697.0   -114.880000  5.684585e-14
                          elev           11697.0   1136.700000  2.273834e-13
                          year           11697.0   2007.511670  9.241306e+00
                          month          11697.0      6.518680  3.450923e+00
                          day            11697.0     15.721382  8.802403e+00
                          cool_deg_days  10967.0      0.104869  5.281049e-01
                          dir_max_gust    4249.0     17.072723  4.922194e+00
                          heat_deg_days  10967.0     13.681663  9.551808e+00
                          max_temp       10981.0     10.721319  1.131915e+01
                          mean_temp      10967.0      4.423206  9.715233e+00
                          min_temp       11015.0     -1.876704  8.883912e+00
                          snow_grnd       1505.0     12.489037  1.204436e+01
                          spd_max_gust    4253.0     41.083470  8.576661e+00
                          total_precip    5457.0      1.475133  3.899337e+00
                          total_rain       307.0      0.000000  0.000000e+00
                          total_snow       307.0      0.000000  0.000000e+00
WILLOUGHBY_RIDGE_df       station_id      9505.0  10693.000000  0.000000e+00
                          lat             9505.0     49.550000  0.000000e+00
                          lon             9505.0   -114.500000  0.000000e+00
                          elev            9505.0   1783.000000  0.000000e+00
                          year            9505.0   2010.512467  7.507942e+00
                          month           9505.0      6.517938  3.451370e+00
                          day             9505.0     15.718780  8.802639e+00
                          cool_deg_days   2888.0      0.075277  4.780368e-01
                          dir_max_gust       0.0           NaN           NaN
                          heat_deg_days   2888.0     15.884730  9.151619e+00
                          max_temp        2888.0      6.722611  1.020292e+01
                          mean_temp       2888.0      2.190547  9.293706e+00
                          min_temp        2888.0     -2.348719  8.763507e+00
                          snow_grnd        476.0      0.000000  0.000000e+00
                          spd_max_gust       0.0           NaN           NaN
                          total_precip    2745.0      2.143607  5.837852e+00
                          total_rain      1468.0      1.027725  4.618311e+00
                          total_snow      1588.0      1.272607  4.632329e+00

                                              min       25%       50%  \
BLAIRMORE_HQTS_RS_df      station_id      2367.00   2367.00   2367.00
                          lat               49.62     49.62     49.62
                          lon             -114.43   -114.43   -114.43
                          elev            1310.60   1310.60   1310.60
                          year            1971.00   1984.00   1997.00
                          month              1.00      4.00      7.00

In [23]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')

In [29]:
CROWSNEST_CREEK_df = station_dfs['CROWSNEST_CREEK_df']

# Convert the 'date' column to a pandas datetime object
CROWSNEST_CREEK_df['date'] = pd.to_datetime(CROWSNEST_CREEK_df['date'])

# Group by 'month' and calculate the mean precipitation
monthly_mean_precip = CROWSNEST_CREEK_df.groupby(CROWSNEST_CREEK_df['date'].dt.month)['total_precip'].mean().reset_index()

# Rename the columns for clarity
monthly_mean_precip.columns = ['month', 'monthly_mean_precip']

# Merge the mean monthly precipitation back into the original DataFrame
CROWSNEST_CREEK_df_test = pd.merge(CROWSNEST_CREEK_df, monthly_mean_precip, on='month', how='left')
CROWSNEST_CREEK_df_test

,station_name,station_id,prov,lat,lon,elev,date,year,month,day,...,heat_deg_days,max_temp,mean_temp,min_temp,snow_grnd,spd_max_gust,total_precip,total_rain,total_snow,monthly_mean_precip
0,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-01,1998,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
1,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-02,1998,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
2,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-03,1998,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
3,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-04,1998,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
4,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,1998-01-05,1998,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9500,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,2024-01-05,2024,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
9501,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,2024-01-06,2024,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
9502,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,2024-01-07,2024,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
9503,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,2024-01-08,2024,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461
9504,CROWSNEST CREEK,10690,AB,49.61,-114.68,1387.0,2024-01-09,2024,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500461

### Creating monthly mean precip data for all weather stations

## Plots & Analysis

In [ ]:
# todo:
# plot timeline for each weather station
# plot mean monthly precip for each weather station
# plot elevation for each weather station with elevation of upper and lower reservoir as lines, vs mean monthly precip
# plot mean monethly precip over the months of all weather stations

# plot SWE
# hydrometric?